<mat-drawer-container class="example-container" mat-drawer-pan>
  <mat-drawer #start class="example-sidenav" mode="push">
    <p>Auto-resizing sidenavd start</p>

  </mat-drawer>

  <mat-drawer #end class="example-sidenav" mode="push" position="end">
    <p>Auto-resizing sidenavd end</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="start.toggle()">
      Toggle sidenav start
    </button>
    <button type="button" mat-button (click)="end.toggle()">
      Toggle sidenav end
    </button>
  </div>
</mat-drawer-container>